.footer__title {
    position: absolute;
width: 242px;
height: 17px;
left: 405px;
top: 5620px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #000000;

}